/* Will hide some of the icons in the urlbar when it's not hovered*/

/* ------------------------------------------------------------------------- */
/*                              Navbar Icons                                 */
/* ------------------------------------------------------------------------- */
/* Hides some of the icons in the navbar when it's not hovered               */
    #nav-bar:not(:hover),
    #nav-bar:has(#nav-bar-customization-target:hover #urlbar-container:hover) {
        #unified-extensions-button,           /* The extensions button       */
        #fullscreen-button,                    /* The fullscreen button      */

        /* Firefox Profile icon */
        #fxa-toolbar-menu-button,
        /* Firefox view button */
        #firefox-view-button,
        /* Go to sound tab button */
        #_0cd726db-f954-44f2-bf4f-7ed0de734de2_-BAP,
        /* Sidebery Sidebar Button */
        #_3c078156-979c-498b-8990-85f7987dd929_-BAP,
        /* Userchrome Style ON/OFF Button */
        #userchrome-toggle_joolee_nl-BAP, 
        /* Main setting panel button */
        #PanelUI-menu-button
        {
            opacity: 0 !important;
        }
    }

/* Hide some of the icons in the urlbar when it's not hovered                */
    #urlbar-container:not(:hover) {
        /* ***Tracking protection button  */
        #tracking-protection-icon-container,
        /* ***Reader mode button          */
        #reader-mode-button,                  
        /* ***Bookmark star button        */
        #star-button-box,                     
        /* ***Identity button             */
        #identity-box,                        
        /* ***Picture-in-picture button   */
        #picture-in-picture-button,           
        /* The translation button      */
        #translations-button,
        /* Host by Clever Cloud Button */
        #pageAction-urlbar-_7dfa9578-e530-46fc-bec6-d479ae31b6ba_
        {
            opacity: 0 !important;
        }
    }

/* "Highlight" the urlbar when hovered                                       */
    #urlbar-container:hover:not(:has([breakout-extend="true"])) {
        /* ***Background of the urlbar***    */
        #urlbar-background                    
        {
            background-color: rgb(64, 69, 82) !important;
        }
    }

/* Set the opacity transition properties                                     */
    #tracking-protection-icon-container,
    #reader-mode-button,
    #star-button-box,
    #identity-box,
    #picture-in-picture-button,
    #PanelUI-button,
    #translations-button,
    #fullscreen-button,
    #unified-extensions-button,
    #pageAction-urlbar-_7dfa9578-e530-46fc-bec6-d479ae31b6ba_,
    #firefox-view-button,
    #fxa-toolbar-menu-button,
    #_0cd726db-f954-44f2-bf4f-7ed0de734de2_-BAP,
    #_3c078156-979c-498b-8990-85f7987dd929_-BAP,
    #userchrome-toggle_joolee_nl-BAP, 
    #PanelUI-menu-button      
    {
        transition: opacity 0.2s ease-in-out !important;
    }

/* Completely disable these buttons below                                    */
    #forward-button,                          /* The forward button          */
    #back-button,                             /* The back button             */
    #reload-button                            /* The reload button           */
    {
        display: none !important;
    }

/* ------------------------------------------------------------------------- */
/*                             Titlebar Buttons                              */
/* ------------------------------------------------------------------------- */
/* Shifts the urlbar to the left if the title bar buttons are hidden         */
    :root {
        /* --uc-titlebar-drag-space: -58.5px !important; */ /* <- if hidden  */
    }

/* Completely disable the titlebar                                           */
    #titlebar {
        /* display: none !important; */
    }


/* Add some margin above the buttons, and above the whole navbar             */
    .titlebar-buttonbox {
        margin-top: 4px !important;
    }

    #nav-bar {
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }

/* ------------------------------------------------------------------------- */
/*                              PanelUI Button                               */
/* ------------------------------------------------------------------------- */
/* Puts back the settings menu button on the right of the screen             */
    #PanelUI-button {
        order: 0 !important;    
        margin-left: 0px !important;
        padding-right: 0px !important;
    }

