/* Adds a "webpage" border at the top */
#appcontent .browserStack {
	margin-block-start: var(--uc-tweak-rounded-corners-padding) !important;
}

/* Reconfigure the navbar */
#navigator-toolbox {
	position: absolute !important;
	z-index: 2 !important;
	width: 63px !important;
    transition: width 115ms linear 100ms !important;
    will-change: width;
    display: flex !important;
    flex-direction: column !important;
}

#nav-bar {
    opacity: 0 !important;
    transition: opacity 150ms linear 100ms !important;
}

#sidebar{
    padding-top: 62px !important;
}

#navigator-toolbox:hover ~ #browser #sidebar-box #sidebar-header,
#navigator-toolbox:hover ~ #browser #sidebar-box #sidebar {
  margin-inline-start: calc(
    var(--uc-tweak-rounded-corners-padding) - 10px
  ) !important;
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important;
  opacity: 100% !important;
  border-radius: 0 !important;
}

#navigator-toolbox:hover {
    width: 350px !important;
}

#navigator-toolbox:hover #nav-bar {
    opacity: 1 !important;
}

#navigator-toolbox:has(+ #browser #sidebar-box:hover) {
    width: 350px !important;
}

#navigator-toolbox:has(+ #browser #sidebar-box:hover) #nav-bar {
    opacity: 1 !important;
}

#titlebar {
    height: 32px !important;
}

#urlbar-container {
    width: auto !important;
}

#urlbar-background                    /* Background of the urlbar    */
{
    background-color: rgb(64, 69, 82) !important;
}