#root.root {--nav-btn-width: 51px;}
#root.root {--nav-btn-height: 50px;}
#root.root {--nav-btn-margin: 0px;}
#root.root {--nav-delimiter-size: 5px;}
#root.root {--nav-btn-len-margin: 0px;}
#root.root {--nav-btn-border-radius: 8px;}
#root.root {--nav-hidden-btn-border-radius: 6px;}
#root.root {--nav-hidden-panels-popup-margin: 3px;}
#root.root {--btn-border-radius: 4px;}
#root.root {--general-margin: 2px;}
#root.root {--tabs-height: 40px;}
#root.root {--tabs-close-btn-margin: 3px;}
#root.root {--tabs-font: 0.9375rem DM Sans;}
#root.root {--tabs-inner-gap: 9.5px;}
#root.root {--bottom-bar-height: 45px;}
#root.root {--tabs-border-radius: 8px;}
#root.root {--ntb-padding: 9px;}
#root.root {--tabs-indent: 39px;}
#root.root {--tabs-margin: 6px;}
#root.root {--tabs-count-font: 0.5625rem DM Sans;}
#root.root {--general-border-radius: 8px;}#root.root {--tabs-lvl-opacity: 0.16;}

/* Custom CSS */

/* Makes navigation bar delimiter visible */
.nav-item[data-type="static"] {
	align-self: center !important;
	height: 1px !important;
	width: 80% !important;
	background-image: linear-gradient(90deg,transparent,var(--frame-fg) 10%,var(--frame-fg) 90%,transparent);
	opacity: 0.25 !important;
	box-shadow: inset 20px 0 15px -10px rgba(0, 0, 0, 0.5),
                inset -20px 0 15px -10px rgba(0, 0, 0, 0.5);

	::after {
		opacity: 0;
	}
}

/* Modifies the navigation bar panel buttons */
.nav-item[data-class="panel"][data-type="tabs"] {
	display: flex;
	flex-direction: column;

	.icon {
		width: 16px;
		height: 16px;
	}

	.name-box {
		inline-size: 80%;
		display: block;
		container-type: size;
		resize: horizontal;

		.name {
			text-align: center;
			font-size: 0.5rem;
		}
	}
}