#root.root {--nav-btn-height: 30px;}
#root.root {--nav-btn-len-margin: 0px;}
#root.root {--nav-hidden-panels-popup-margin: 3px;}
#root.root {--general-margin: 2px;}
#root.root {--tabs-height: 40px;}
#root.root {--tabs-close-btn-margin: 3px;}
#root.root {--tabs-font: 0.9375rem DM Sans;}
#root.root {--tabs-inner-gap: 9.5px;}
#root.root {--bottom-bar-height: 45px;}
#root.root {--tabs-border-radius: 8px;}
#root.root {--ntb-padding: 9px;}
#root.root {--nav-btn-margin: 9.5px;}



#root.root {--tabs-indent: 39px;}
#root.root {--tabs-margin: 6px;}
\n\n\n\n#root.root {--tabs-count-font: 0.5625rem DM Sans;}\n\n#root.root {--nav-btn-border-radius: 8px;}\n#root.root {--nav-hidden-btn-border-radius: 6px;}\n\n#root.root {--general-border-radius: 8px;}\n\n\n\n#root.root {--tabs-lvl-opacity: 0.16;}\n\n\n\n